 .display {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
#a1{
    background-color: black;
    width: 500px;
    height: 200px;
    margin-left: 33%;
    padding-top: 18px;
    margin-top: 2%;
}
.digit {
  position: relative;
  width: 50px;
  height: 90px;
}

.segment {
  position: absolute;
  background-color: rgb(166, 158, 158);
  border-radius: 33%;
 
}

.on {
  background-color: rgb(205, 22, 22);
}
h1{
    color: brown;
    text-align: center;
  }
button{
    color: brown;
    background-color: bisque;
    margin-left: 50%;
}
input{
    background-color: bisque;
    color: brown;
    margin-left:46%;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
